.venv/
test.ipynb
setup.bat
__pycache__/
assets/__pycache__/    
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.egg-info/
*.egg
*.whl
*.log
*.coverage
*.cover
*.hypothesis/
*.tox/
*.mypy_cache/
*.pytest_cache/
*.coverage.*
*.coveragerc
*.pylint.d
*.pylint_report.json
*.pylint_json_report.json
*.pylint_json_report.txt
*.pylint_json_report.html
*.pylint_json_report.xml
*.pylint_json_report.xml.gz
